<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.eclipse.rap.clientscripting.internal.resources.ClientScriptingUtilResource">
      </resource>
      <resource
            class="org.eclipse.rap.clientscripting.internal.resources.EventBindingResource">
      </resource>
      <resource
            class="org.eclipse.rap.clientscripting.internal.resources.EventBindingAdapterResource">
      </resource>
      <resource
            class="org.eclipse.rap.clientscripting.internal.resources.EventProxyResource">
      </resource>
      <resource
            class="org.eclipse.rap.clientscripting.internal.resources.FunctionResource">
      </resource>
      <resource
            class="org.eclipse.rap.clientscripting.internal.resources.ListenerAdapterResource">
      </resource>
      <resource
            class="org.eclipse.rap.clientscripting.internal.resources.SWTResource">
      </resource>
      <resource
            class="org.eclipse.rap.clientscripting.internal.resources.WidgetProxyResource">
      </resource>
   </extension>

</plugin>
