<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.rap.clientscripting.demo.Demo"
            id="org.eclipse.rap.clientscripting.demo"
            path="/clientscripting">
      </entrypoint>
   </extension>
</plugin>
